.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin: 0 auto 30px;
    max-width: 50%;
  }
  @media screen and (min-width: 1280px) {
    max-width: 600px;
    margin: 0 auto 40px;
  }
}

.form__label {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: rgb(254, 254, 255);
  margin-top: 5px;
  transition: all 0.3s;
  transform: translateY(-66px);
  width: 100%;
  padding-left: 10px;
  @media screen and (min-width: 768px) {
    font-size: 19px;
    transform: translateY(-100px);
  }
  @media screen and (min-width: 1280px) {
  }
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 15px;
  margin: 0 auto;
  padding: 12px 16px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 100%;
  display: block;
  transition: all 0.3s;
  @media screen and (min-width: 768px) {
    font-size: 19px;
    margin: 0 auto;
    padding: 24px 32px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  @media screen and (min-width: 768px) {
    transform: translateY(-64px);
  }
  @media screen and (min-width: 1280px) {
  }
}

.submitBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-family: var(--cormorant);
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  transition: all 1000ms;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  outline: 1px solid #000000;
  cursor: pointer;
  background: #ffffff;
  @media (prefers-color-scheme: dark) {
    background-color: #ffffff;
  }
  @media screen and (min-width: 768px) {
    padding: 12px 24px;
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    padding: 14px 28px;
    font-size: 16px;
  }
}

.submitBtn:hover,
.submitBtn:focus {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #000;
  box-shadow: 4px 5px 17px -4px #268391;
}

.submitBtn::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(180deg, #d0432d 0%, #debd55 100%);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.submitBtn:hover::before,
.submitBtn:focus::before {
  width: 250%;
}
