.header {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(85, 99, 144, 0.9);
  z-index: 10;
}

.header_container {
  padding: 0 20px;
  max-width: 1160px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
}

.burger {
  border: 0;
  background-color: inherit;
  width: 50px;
  height: 40px;
  @media screen and (min-width: 787px) {
    display: none;
    pointer-event: none;
    z-index: 1;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
  }
}

.burger_icon {
  color: #fff;
}

.desktop_nav {
  display: none;
  @media screen and (min-width: 787px) {
    display: block;
    margin-right: 30px;
  }
}
