.tableList {
  display: grid;
  list-style: none;
  border-radius: 10px;
  background-color: antiquewhite;
}

.tableElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
}

.tableText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  font-size: 11px;
  font-family: var(--cormorant);
}
